<html><body>



<p class="p1"><span class="s1"><strong>GDTIMAGEPRO USER Amazon Custom Service - TERMS OF SERVICE (TOS)</strong></span></p>
<p class="p2">
  <br>
</p>
<p class="p3"><span class="s1"><strong>Use of this Service is subject to the following Terms of Service (ToS):</strong></span></p>
<p class="p2">
  <br>
</p>
<p class="p3"><span class="s1"><strong>USER CONTENT</strong></span></p>
<p class="p3"><span class="s1">USER CONTENT includes user data made available, transmitted, uploaded, posted, or e-mailed including text, graphics, images, messages or other materials on, or to<span class="Apple-converted-space">&nbsp;&nbsp;</span>
    <a href="http://WWW.GDTImagepro.COM/"><span class="s2">WWW.GDTImagepro.COM</span></a><span class="Apple-converted-space">&nbsp;&nbsp;</span>or any other website, microsite, or any other internet property owned, operated or sponsored by GDTIMAGEPRO. Merchant user data is not stored on GDT servers.</span></p>
<p class="p2">
  <br>
</p>
<p class="p3"><span class="s1">GDT will<span class="Apple-converted-space">&nbsp;&nbsp;</span>provide updates to the service as required to stay current with Amazon Seller Central custom order output at no charge.</span></p>
<p class="p2">
  <br>
</p>
<p class="p3"><span class="s1"><strong>By submitting Your User Content, you acknowledge and agree:<span class="Apple-converted-space">&nbsp;</span></strong></span></p>
<ul class="ul1">
  <li class="li3"><span class="s1">That You own or have the necessary licenses, rights, consents and permissions to all patent, trademark, trade secret, copyright or other proprietary rights ("Rights") to Your Content and any other works that You incorporate into your User Content.</span></li>
</ul>
<p class="p4">
  <br>
</p>
<ul class="ul1">
  <li class="li3"><span class="s1">That You have the written consent, release, and/or permission of each and every identifiable individual person in your User Content to use such person's name, address, personal information or likeness in your User Content for use in the manner contemplated in these <strong>ToS</strong>.</span></li>
</ul>
<p class="p4">
  <br>
</p>
<ul class="ul1">
  <li class="li3"><span class="s1">Not to include in your User Content any content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, pornographic, offensive, indecent, libelous, violates privacy, hateful, or racially, ethnically or otherwise objectionable.</span></li>
</ul>
<p class="p2">
  <br>
</p>
<ul class="ul1">
  <li class="li3"><span class="s1">Access to the GDT Image Pro Amazon Order Processing service is subject to payment of the initial Amazon Merchant setup fee and payment of the prescribed monthly access fee . Which is invoiced and payable in advance.</span></li>
</ul>
<p class="p2">
  <br>
</p>
<ul class="ul1">
  <li class="li3"><span class="s1">Delinquent accounts are subject to denial of service and a re connection fee.</span></li>
</ul>
<p class="p2">
  <br>
</p>
<p class="p3"><span class="s1">INDEMNITY,</span></p>
<p class="p3"><span class="s1">You agree to indemnify and hold harmless GDTIMAGEPRO, and its subsidiaries, affiliates, officers, agents, or other partners, and employees, from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of Your use of and access to the Service, Your violation of the <strong>ToS</strong>, Your violation of any rights of another person or entity, or Your violation of any applicable laws or regulations.<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p2">
  <br>
</p>
<p class="p3"><span class="s1">If any provision of these Terms or any document incorporated by reference is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of such documents remain in full force and effect. The <strong>ToS</strong>, which apply to your use of the Service, provide that both you and GDTIMAGEPRO agree to submit to the personal and exclusive jurisdiction of the courts located within the City of Guelph, County of Wellington, Ontario, Canada.</span></p>

</body></html>